<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head')%>
    <title>Animal Adoption Application-Veterinary</title>
    <style>
  
.place{
  /* right:50px;
  top: 20px; */
  animation: fadeIn ease 1s;
  /* transition: ease-in-out 2s op ; */
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

    </style>
  </head>
  <body>
    <img id="background" src="../../images/seriousbg.png" alt="background" />
    <div class="tuna "></div>
    <header>
      <%- include('../layout/header')%>
    </header>

    <main id="locationMain">



      
      <!-- <img src="https://c1.wallpaperflare.com/preview/330/506/524/veterinarian-animals-funny-veterinary.jpg" alt=""> -->
      <fieldset>
        <legend>Find veterinary</legend>
        <form class="flexColomn" action="/location" method="get">
          <label for="se"> *insert location :</label>
          <input
            id="se"
            class="feedback-input"
            type="text"
            name="userInput"
            placeholder="Enter location name"
          />
          <label for="choice">*pick location type:</label>
          <div id="choice" class="what flex">
            <div class="what">
            <label class="cont-radio flex" for="iplocation">
              <input
                class="radiobtn"
                type="radio"
                name="ipRadio"
                value="useIpLocation"
                required
                checked
              />
              <span class="newradio"></span>

              Your location</label>
            </div>

            <div class="what">
            <label class="cont-radio flex" for="dog">
              <input
                class="radiobtn"
                type="radio"
                name="ipRadio"
                value="useOtherlocation"
                required
              />
              <span class="newradio"></span>
              Other location</label
            >
            </div> 
          </div>
          <div id="btndiv">
            <button type="submit">Search</button>
          </div>
        </form>
      </fieldset>

      <div class="clinic">
        <h2>Nearest Veterinarians found</h2>
        <%data.forEach(e => { %>
          <div class="sub-clinic">
 
            <h5>Name: <%=e.poi.name?e.poi.name:'no name found'%></h5>
            <h6>Street Name: <%=e.address.streetName?e.address.streetName:'no street name found'%></h6>
            <h6>Municipality: <%=e.address.municipality?e.address.municipality:'no municipality found' %></h6>
            <h6>city: <%=e.address.countrySubdivision%></h6>
          </div>
      <%  });   %>
      </div>
    </main>
    
    <footer>
      <%- include('../layout/footer')%>

      <!-- will be added from layot -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="app.js"></script>
  </body>
</html>
