<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head')%>
    <title>Animal Adoption Application-Search Result</title>
</head>

<body>
    <img id="background" src="../../images/seriousbg.png" alt="background">
    <header>
        <%- include('../layout/header')%>
    </header>
    <div class="bgblack"></div>
    <main id="searchResultMain">
        <% data.forEach((element,index) =>{ %>
        <div class="shortDisc" id="card<%=index%>">
            <img class="sundah" id="imgcard<%=index%>" style="width: 150px;" src="<%=element.img%>" alt="">
            <h4> <%=element.pet_type%> name: <%=element.pet_name%></h4>
            <h4><%=element.pet_type%> breed: <%=element.breed%></h4>
            <form action='/pet/<%= element.pet_name%>' method='post'>
                <button type="submit" class="btns">Adopt <%=element.pet_name%></button>
            </form>
            <button id="<%=index%>" class="info-btn" name="info">know <%=element.pet_name%> more</button>
            <div id="div<%=index%>" class="info-div">
                <div id="popTitle<%=index%>" class="pop-div">  
                    <h2><%=element.pet_name%></h2>
                    <button class="closepop" id="v<%=index%>">&times;</button>
                </div>
                <div class="pop-desc">
                    <h4>Gender:<%=element.gender%> </h4>
                    <h4><%=element.pet_type%> minimum weight is:<%=element.pet_weight%> kg</h4>
                    <h3>Little description:</h3>
                    <p><%=element.description%></p>
                    <h4><%=element.pet_type%> origin is from :<%=element.origin%></h4>
                </div>
            </div>
        </div>
        <%});%>
    </main>
    <footer>
        <%- include('../layout/footer')%>

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="app.js"></script>
</body>

</html>