<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head')%>
    <title>Animal Adoption Application-Search Result</title>
</head>

<body>
    <header>
        <%- include('../layout/header')%>
    </header>
    <main id="searchResultMain">
        <% data.forEach((element,index) =>{ %>
        <div class="shortDisc">
            <img style="width: 150px;" src="<%=element.img%>" alt="">
            <h4> <%=element.pet_type%> name is: <%=element.pet_name%></h4>
            <h4><%=element.pet_type%> breed is: <%=element.breed%></h4>
            <button id="<%=index%>" class="info-btn" name="info">Learn More About <%=element.pet_name%></button>
            <div id="div<%=index%>" class="info-div">
                <div id="popTitle<%=index%>" class="pop-div">  
                    <h2><%=element.pet_name%></h2>
                    <button class="closepop" id="v<%=index%>">&times;</button>
                </div>
                <h4>Gernder:<%=element.gender%> </h4>
                <h4><%=element.pet_type%> minimum weight is:<%=element.pet_weight%> kg</h4>
                <h3>Little description:</h3>
                <p><%=element.description%></p>
                <h4><%=element.pet_type%> origin is from :<%=element.origin%></h4>
            </div>
        </div>
        <%});%>
    </main>
    <footer>
        <%- include('../layout/footer')%>

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="app.js"></script>
</body>

</html>