<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head')%>
  <title>Animal Adoption Application-User</title>
</head>

<body>
  <img id="background" src="../../images/seriousbg.png" alt="background">
  <header>
    <%- include('../layout/header')%>
  </header>
  <div class="bgblack"></div>
  <main id="userMain" class="flexColomn">

    <% pets.forEach((element,index) =>{ %>
  <div class='pet-class'>  
    <div class="divdiv">
      <div class="divNames">
        <div class="flex-h2">  
          <img style="width: 250px;" src="<%=element.img%>" alt="">
          <div class="pet-name">
            <h4><%=element.pet_type%> name: <%=element.pet_name%></h4>
            <h4><%=element.pet_type%> breed: <%=element.breed%></h4>
          </div>
        </div>
        <div class="flex buttonsDiv">
          <!-- <form action=""> -->
        <div id="user-btn"> 

            
            <button name="userInfo" class="userInfo" id="learn<%=index%>">Know <%=element.pet_name%> more</button>
          <!-- </form> -->
          

            <div id="poplearn<%=index%>" class="info-div">
              <div id="popTitle<%=index%>" class="pop-div">
                <h2><%=element.pet_name%></h2>
                <button class="closepop" id="n<%=index%>">&times;</button>
              </div>
              <div class="pop-desc1 pop-desc"  >
                <p> <strong>Gender:</strong> <%=element.gender%> </p>
                <p> <strong><%=element.pet_type%>  Weight :</strong> <%=element.pet_weight%></p>
                <p> <strong>Little description:</strong> </p>
                <p><%=element.description%></p>
                <p> <strong> <%=element.pet_type%> Origin  :</strong> <%=element.origin%></p>
              </div>
            </div>  
            </div>
          <!-- <form> -->
            <button id="<%=element.id%>" class = "updateUser">Update <%=element.pet_name%> Information </button>
          <!-- </form> -->
          <form action="/delete/<%=element.id%>?_method=delete" method="post">
            <button > Remove <%=element.pet_name%> </button>
          </form>
        </div>
        </div>
      </div>
    </div>
    <fieldset id="form<%=element.id%>" class="f">
    <form  class="updateFormUser" action="/update/<%=element.id%>?_method=put" method="post">
      <label for="pet_name"> 
        Pet name:
        <input id="pet_name" name="pet_name" value="<%=element.pet_name%>">
      </label>
      <label id="breed"> The breed: 

        <input name="breed" value="<%=element.breed%>">
      </label>
      <label id="">  Pet weight in kg:

        <input name="pet_weight" value="<%=element.pet_weight%> kg">
      </label>
      <label >  Little description:

        <input name="description" value="<%=element.description%>">
      </label>
      <label > Pet origin:

        <input name="origin" value="<%=element.origin%>">
      </label>

      <button type="submit" id="sub-upd">Submit The Update</button>
    </form>
  </fieldset>
  </div>
  <%});%>
  </main>

  <footer>
    <%- include('../layout/footer')%>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="app.js"></script>

</body>

</html>